$font: 'Montserrat', sans-serif;
body{
    height: 100%;
    background: #087CA7;
    color: #C2D3CD;
    font-family: $font;
    h1,h2,h3,h4,h5,h6,p,ul,ol,a{
        margin:0;
    } nav   li {
        line-height: 2em;
        font-size: 1.2em;
        color: white;
        list-style: none;
        display: inline-block;
        text-transform: uppercase; 
    } 
    a {
        text-decoration: none;
        color: #C2D3CD;
        :hover{
            transform: scale(1.005);
            transition: .5s ease-in-out;
            color: #56494C;
        }
    }
    }
