$font: 'Montserrat', sans-serif;
html {
    scroll-behavior: smooth;
  }
body{
    height: 100%;
    background: #087CA7;
    color: #C2D3CD;
    margin: 0;
    font-family: $font;
    h1,h2,h3,h4,h5,h6,p,ul,ol,a{
        margin:0;
    }
 }

 nav {
     text-align: right;
     padding: .3em;
   li {
       padding: .2em;
    line-height: 2em;
    font-size: 1.2em;
    color: white;
    list-style: none;
    display: inline-block;
    text-transform: uppercase; 
} }
a {
    text-decoration: none;
    color: #C2D3CD;
    :hover{
        transform: scale(1.005);
        transition: .2s ease-in-out;
        color: #56494C;
    }
}

section {
        height: 100vh;
        text-align: center;
        margin: 0;
       
    }

section.welcome {
      padding-top: 4em;
      height: calc(100vh - 4em);
      font-size: 3em;
    }

section.work {
        background: #232C33;
        position: relative;
        padding-top: 7em;
        height: calc(100vh - 4em);
        font-size: 2em;
        transition: 1s ease-in-out;
      }

section.contact {
        background: #BBBE64;
        position: relative;
        padding-top: 7em;
        height: calc(100vh - 4em);
        font-size: 2em;
}

section.quality {
        background: #502F4C;
        position: relative;
        padding-top: 7em;
        height: calc(100vh - 4em);
        font-size: 2em;
      }

 section.attention {
        background: #DADFF7;
        position: relative;
        color: black;
        padding-top: 7em;
        height: calc(100vh - 4em);
        font-size: 2em;
      }
    //   @media screen and (max-width: 768px) {
    //     .line {
    //       width: 30px;
    //       height: 3px;
    //       background: white;
    //       margin: 5px;
    //     }
    //     nav {
    //       position: relative;
    //     }
      
    //     .hamburger {
    //       position: absolute;
    //       cursor: pointer;
    //       right: 5%;
    //       top: 50%;
    //       transform: translate(-5%, -50%);
    //       z-index: 2;
    //     }
      
    //     .nav-links {
    //       position: fixed;
    //       background: #5b78c7;
    //       height: 100vh;
    //       width: 100%;
    //       flex-direction: column;
    //       clip-path: circle(100px at 90% -10%);
    //       -webkit-clip-path: circle(100px at 90% -10%);
    //       transition: all 1s ease-out;
    //       pointer-events: none;
    //     }
    //     .nav-links.open {
    //       clip-path: circle(1000px at 90% -10%);
    //       -webkit-clip-path: circle(1000px at 90% -10%);
    //       pointer-events: all;
    //     }
    //    
    //     .nav-links li {
    //       opacity: 0;
    //     }
    //     .nav-links li a {
    //       font-size: 25px;
    //     }
    //     .nav-links li:nth-child(1) {
    //       transition: all 0.5s ease 0.2s;
    //     }
    //     .nav-links li:nth-child(2) {
    //       transition: all 0.5s ease 0.4s;
    //     }
    //     .nav-links li:nth-child(3) {
    //       transition: all 0.5s ease 0.6s;
    //     }
    //     li.fade {
    //       opacity: 1;
    //     }
    //   }